body {
  min-height: 75rem;
}

.question {
	border: 1px gray solid;
	border-radius: 20px;
	margin: 75px 150px 15px 10px;
}

.question img {
	width: 50px;
}

.header {
	font-size: 30px;
	margin-bottom: 15px;
}


.text_question {
	font-size: 20px;
	margin-bottom: 35px;
}


.current_tag {
	font-size: 24px;
	margin: 20px 25px 15px 0px;
}

.tag_list_header {
	font-size: 30px;
	margin-bottom: 35px;
}

.block_tags {
	border: 1px gray solid;
	border-radius: 16px;
}

.favorite_members {
	margin: 100px 0px 20px 0px;
	font-size: 30px;
}

.hot_questions {
	font-size: 20px;
	margin-left: 36px;
}

hr {
	color: black;
}

.check_label {
	font-size: 16px;
}

.publish_btn {
	margin: 50px 0px 100px 0px;
	font-size: 24px;
	width: 150px;
}

textarea {
	margin-top: 50px;
}


.like_button {
	margin-top: 15px;
}

.count_likes_button {
	margin-top: 15px;
}

.count_likes {
	font-size: 24px;
	padding-right: 5px;
}

.image {
	margin-bottom: 10px;
}